$message {
  padding: 10px;
  border-style: solid;
  border-width: 1px;
}
.<%= viewClassName %>-view {
  .msg-holder {
    .is-error, is-failure {
      @extend $message;
      color: red;
    }
    .is-success {
      @extend $message;
      color: green;
    }
    .is-info {
      @extend $message;
      color: orange;
    }
  }
}
